.ErrorPage {
  width: 100%;
  height: 100%;
  background-image: url('../../../public/error.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw;
  display: flex;
  justify-content: center;
}

.ErrorPage button {
  font-size: 2rem;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  margin-top: 4rem;
}

.ErrorPage button:focus {
  box-shadow: none;
}
